html, body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

#content {
  display: flex;
  flex-direction: row;
  width: 85vw;
  height: 100%;
  margin: auto;
  margin-top: 10vh;
}

#left-side, #right-side {
  display: flex;
  flex-direction: column;
  width: 48%;
  height: 100%;
}

#right-side {
  margin-left: 4%;
}

.section {
  border-bottom: 1px solid #D3D3D3;
  padding: 1.5em 0;
}

.section:last-child {
  border-bottom: none;
}

.inner {
  display: flex;
  flex-direction: row;
}

.inner > a {
  margin: auto;
}

.inner > span {
  font-size: 15px;
  color: #808080;
  align-self: center;
}

.inner > span:last-child {
  margin-left: 2em;
}

.multiple > span {
  margin: 2em;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #D3D3D3;
  width: 49%;
  text-align: center;
}

.button:last-child {
  margin-left: 2%;
}

.button-text {
  margin: 1em;
  color: #808080;
}

.button-text > p {
  margin: 0;
}

.logo {
  width: 60%;
}

.cart-button {
  width: 100%;
}

.hover {
  background-color: #42B4E6;
}

.reviews {
  width: 5em;
}

@media only screen and (max-width: 800px) {
  #content {
    flex-direction: column;
  }
  #left-side, #right-side {
    width: 100%;
    height: 100vh;
    margin: none;
  }
}